/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/


/* Box Model Hack */

* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}


/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px;
    /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0;
    /* note the padding around a left floated image */
}


/******************************************
/* BASE STYLES
/*******************************************/

a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

header {
    height: 100px;
    background-color: #033048;
}

footer {
    background-color: #121212;
    height: 350px;
    width: 100%;
    margin: auto;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 1px black;
    margin: 0;
    padding: 0;
}

ul {
    
    margin: 20px;
}

li {
    list-style-type: none;
    font-weight: lighter;
    color: #606161;
    list-style: disc;
    font-size: 24px;
    padding-top: 20px;
}

h6{
    font-size: 40px;
    color: #033048;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0px 0px 20px 0px;
    line-height: 140%;
}

p {
    font-weight: lighter;
    color: #606161;
    font-size: 24px;
    padding-top: 40px;
    line-height: 150%;
}

h3 {
    font-size: 30px;
    color: #033048;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    clear: both;
}

h4 {
    font-size: 20px;
    color: #033048;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    margin: 0px;
    padding: 0px;
}
/******************************************
/* LAYOUT
/*******************************************/


/* Center the container */

#container {
    width: 100%;
    margin: auto;
}

.footlogo {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 900px;
    padding-top: 40px;
    margin: auto;
    font-size: 40px;
    font-weight: 900;
    color: #f9e42e;
    display: block;
}

#about {
    width: 900px;
    margin: auto;
    height: 500px;
}

.benefits {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
    font-size: 20px;
    font-weight: 400;
    color: #033048;
    display: block;
}

#quote {
    background: url(../images/testimonial_bg.jpg) repeat;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
}

.soc {
    padding: 20px;
    text-align: center;
}

.testimonial {
    width: 550px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    color: white;
    line-height: 150%;
    font-style: italic;
}

.name {
    width: 550px;
    margin: auto;
    padding-top: 20px;
    text-align: right;
    color: white;
}

#cta {
    height: 100px;
    background-color: #f9e42e;
    text-align: center;
    display: block;
}

#home {
    background: url(../images/header_bg.jpg) repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container {
    font-family: 'Open Sans', sans-serif;
}

#btn_s {
    background-color: #f9e42e;
    border-radius: 5px;
    border: none;
    color: #121212;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    padding: 10px 40px 10px 40px;
    box-shadow: 0 5px #d1be18;
}

#btn_s:active {
    background-color: #e8d425;
    border-radius: 5px;
    border: none;
    color: #121212;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    padding: 10px 40px 10px 40px;
    box-shadow: 0 3px #d1be18;
    transform: translateY(2px);
}

#btn_e {
    background-color: #033048;
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    padding: 10px 40px 10px 40px;
    box-shadow: 0 5px #011722;
}

#btn_e:active {
    background-color: #022538;
    border-radius: 5px;
    border: none;
    color: #e2e2e2;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    padding: 10px 40px 10px 40px;
    box-shadow: 0 3px #011722;
    transform: translateY(2px);
}

.button {
    position: relative;
    top: 400px;
    text-align: center;
    display: block;
}

.button2 {
    padding-top: 25px;
    vertical-align: middle;
    text-align: center;
    display: block;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 900px;
    top: 5%;
    margin: auto;
    font-size: 32px;
    font-weight: 900;
    color: white;
    display: block;
}

.slogan {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 300px;
    color: white;
    display: block;
}

.thing {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
}


/******************************************
/* page 2
/*******************************************/

.logo_page2 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin: 30px 0px 0px 0px;
    font-size: 32px;
    font-weight: 900;
    color: white;
    display: block;
    float: left;
    vertical-align: middle;
}

.backer {
    background-color: lightgray;
    z-index: -99;
}

.constrain {
    width: 960px;
    margin: auto;
}

.links {
    float: right;
    list-style-type: none;
    margin: auto;
}


.side_list {
    overflow: hidden;
    list-style-type: none;
    padding-left: 0px;
    margin: 20px 0px 0px 0px;
}

.side_list:hover {
    list-style-type: none;
}
/*
.catagories {
    color: #033048;
}

.catagories:hover {
    color: white;
} */


.catagories a{
    list-style-type: none;
    margin-left: 0;
    color: #033048;
    text-decoration: none;
    padding: 0px;
}

.catagories a:hover {
    color: white;
    text-decoration: none;
}

.main {
    margin-top: 50px;
    border: solid 2px black;
    height: 500px;
    float: left;
    width: 75%;
}

.side_p {
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    height: 250px;
    overflow: hidden;
}

.side {
    padding: 10px;
    margin-top: 50px;
    height: auto;
    float: right;
    width: 25%;
}

.options {
    font-weight: 500;
    list-style-type: none;
    float: left;
    padding: 40px 5px 0px 5px;
}

.options a {
    list-style-type: none;
    color: #d1be18;
    text-align: center;
    padding: 20px;
    margin: 20px 0px 0px 0px;
    text-decoration: none;
}

.options a:hover {
    color: white;
}
.side_h {
    text-overflow: clip;
    margin-top: 50px;
}
