body {
    background-color: black;
}
.grad{
    position: absolute;
    float: left;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0));
    width: 100%;
    top: 0;
    left: 0;
    clear: both;
    z-index: 2;
}

.fill {
    
    position: absolute;
    float: left;
    height: 1920px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    top: 0;
    left: 0;
    clear: both;
    z-index: 2;
}

.content {

    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 4;
}
.title, .story{
    font-family:  'open sans', Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;

}

.story {
    font-size: 32px;
    font-weight: 400;
}
/*.info{ 
  float: right; 
  padding-right: 50px;
  width: 580px;
}

.info .nav .option{
  display: inline;
  padding-left: 20px;
}
.info .nav .option .link{
  color: #f9e42e;
  text-decoration: none;
  padding-left: 20px;
}

.info .nav .option .link:hover{
  font-weight: 800;
} */

.nav {
    font-family:  'open sans', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 300;
    position: absolute;
    float: left;
    padding: 20px;
    width: auto;
    z-index: 99;
    top: 5%;
    left: 325px;
}

.nav2 {
    font-family:  'open sans', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 300;
    position: absolute;
    float: left;
    padding: 20px;
    width: auto;
    z-index: 99;
    top: 5%;
    left: 550px;
}
.logo {
    position: absolute;
    float: left;
    clear: both;
    height: auto;
    width: 250px;
    z-index: 99;
    left: 50px;
    top: 50px;
    
}